body{
    
    width: 80%;
    margin:0 auto;
}

.body{
    background-image: linear-gradient(rgb(32, 30, 30) , black);
    min-height: 100vh;
}

.div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    gap:30px;
}

.svg{
     width:30px;
     
}

.modal{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap:20px;
    background-color: rgb(147, 147, 215);
    color:black;
    border: 2px solid white;
    border-radius: 7px;
    width: 250px;
   
    

}

.modal1{
     display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 20px;
}

.m1{
    display: none;
}
.btn{
    font-size: 16px;
    font-weight: 400px;
    padding: 7px 14px;
    border: 2px solid black;
    color:aliceblue;
    background-color: rgb(98, 92, 92);
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover{
    background-color: black;
    color:azure;

}

